
*{
    margin:0;
    padding:0;
}



.main-container {
    max-width: 1400px; 
    margin: 0 auto;
    width: 100%;
    background: white;
}

.main_txt{
    display:flex;
    justify-content: center;
    font-size: 60px;
    margin-top: 50px;

}

.img1{
    display: flex;
    justify-self: center;
}

.main_block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 8%
}

.photo1{
    width: 70%;
}